<script src="https://kit.fontawesome.com/5363396f45.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/header.css">
<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a style="font-family: Tahoma; margin-left: 50px;" data-text="Codeial" id="Codeial" href='/'><i style="color: white; margin-left: -60px; font-weight: 900; box-shadow: 5px;" class="fa-solid fa-code"></i>
                    Codeial
                </a>
            </p>
        </div>
    
        <div class="auth-links">
            <ul>
                <% if (locals.user){ %>
                <li>
                    <a style="font-family: Tahoma; text-shadow: 3px 3px 3px rgb(255, 0, 200); font-size: 27px; font-weight: 700; color: white;" href="/users/profile/<%= user.id%>"><%= user.name %></a>
                </li>
                <li>
                    <a style="font-family: Tahoma; text-shadow: 3px 3px 3px rgb(255, 0, 200); font-size: 27px; font-weight: 700; color: white;" href="/users/sign-out">Sign Out</a>
                </li>

                <% }else{ %>
                <li>
                    <a style="font-family: Tahoma; text-shadow: 3px 3px 3px rgb(255, 0, 200); font-size: 27px; font-weight: 700; color: white;" href="/users/sign-in">Sign In</a>
                </li>
                <li>
                    <a style="font-family: Tahoma; text-shadow: 3px 3px 3px rgb(255, 0, 200); font-size: 27px; font-weight: 700; color: white;" href="/users/sign-up">Sign Up</a>
                </li>
        
                <% } %>
            </ul>
        </div>
    </nav>
 


</header>

<!-- #layout-header nav a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    margin-right: 30px; }
    #Codeial{
      position: relative;
      -webkit-text-stroke: 0.3vw black;
      
      text-transform: uppercase;
    }
    #Codeial::before{
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      color: white;
      text-shadow: 4px 3px 3px red;
      -webkit-text-stroke: 0vw black;
      /* border-right: 2px solid black; */
      overflow: hidden;
      animation: animate 10s linear infinite;
      -webkit-animation: animate 10s linear infinite;
    }
    @keyframes animate {
      0%{
        width: 0;
      }
      70%{width: 100%;}
    } -->